<%- include('partials/header') %>
    <main class="main-content">
        <!-- content will go here below -->
        <h1>About page</h1>
    </main>
    <%- include('partials/footer') %>
        </body>

        </html>